# editors
**/.vs/
**/.idea/
**/.vscode/
*.iml
# .NET
**/bin/
**/obj/
# C++
**/CMakeFiles/
**/CMakeCache.txt
**/cpp/Makefile
**/cmake_install.cmake
**/_deps/

AoC15/Makefile
AoC16/target/
AoC17/rust/target/
AoC17/rust/Cargo.lock
AoC17/cpp/aoc17
AoC19/cpp/aoc19.dir/
AoC19/cpp/x64/
AoC19/java/target/
AoC19/cpp/aoc19
AoC20/generated-includes/
AoC20/aoc20
AoC22/cpp/lib/
AoC22/cpp/aoc22
