bin/
obj/
.vs/
/.idea/
*.iml
AoC15/CMakeFiles/
AoC15/cmake_install.cmake
AoC15/CMakeCache.txt
AoC15/Makefile
AoC16/target/
AoC17/cs/bin/
AoC17/cs/obj/
AoC17/fs/bin/
AoC17/fs/obj/
AoC17/rust/.idea/
AoC17/rust/.vscode/
AoC17/rust/target/
AoC17/rust/Cargo.lock
AoC19/cpp/_deps/
AoC19/cpp/aoc19.dir/
AoC19/cpp/CMakeFiles/
AoC19/cpp/.vscode
AoC19/cpp/x64/
AoC19/cpp/Makefile
AoC19/java/target/
AoC19/cpp/cmake_install.cmake
AoC19/cpp/CMakeCache.txt
AoC19/cpp/aoc19
AoC20/CMakeFiles/
AoC20/cmake_install.cmake
AoC20/CMakeCache.txt
AoC20/Makefile
