bin/
obj/
.vs/
/.idea/
/AoC15/CMakeFiles/
/AoC15/cmake_install.cmake
/AoC15/CMakeCache.txt
/AoC15/Makefile
AoC17/cs/bin/
AoC17/cs/obj/
AoC17/fs/bin/
AoC17/fs/obj/
/AoC17/rust/.idea/
/AoC17/rust/.vscode/
/AoC17/rust/target/
/AoC17/rust/Cargo.lock
/AoC20/CMakeFiles/
/AoC20/cmake_install.cmake
/AoC20/CMakeCache.txt
/AoC20/Makefile
